@font-face {
	font-family: EBGaramond;
	src: url(../fonts/EBGaramond-Regular.ttf)
}

@font-face {
	font-family: Oswald-Light;
	src: url(../fonts/Oswald-Light.ttf)
}

.step {
    position: relative;
    padding: 10px;
    margin: 10px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

.impress-enabled .step {
    margin: 0;
    opacity: 1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

#impress .step.active{
   opacity:1;
}

/*
Formatting for the cube
*/

/* special treatment for handouts*/

.handout .step {
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    /*it is better to comment out the following for the computer
    it is needed for the mobile phone...*/
    /*height: 1280px;*/
    width: 768px;
    text-align: left;
    padding: 10px;
    opacity: 0;
}

.handout .step.active{ opacity: 1; }

.notes {
    font-size:150%;
}

.slide {
    display: block;

/* put transparent border for the production */

    border: 1px transparent rgba(0, 0, 0, .3);
    border-radius: 10px;
}

#impress:not(.impress-not-supported) .step{
    opacity:0.4;
}

#impress .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
Now starting to style the text and slides;
The fight way is to style each slide here, but I am lazy...
*/

#impress h1 {
	margin-top: 20%;
	text-align: center;
	font-size: 400%;
	font-family: Oswald-Light;
}

#impress h2 {
	margin-top: 7%;
	text-align: center;
	font-size: 400%;
	font-family: Oswald-Light;
}

#impress h3 {
	margin-top: 20%;
	text-align: center;
	font-size: 200%;
	font-family: Oswald-Light;
}

#impress h4 {
	margin-top: 2%;
	margin-bottom: 10%;
	text-align: center;
	font-size: 300%;
	font-family: Oswald-Light;
}

#impress p {
	margin-top: 0;
	font-size: 180%;
	font-family: Oswald-Light;
}

#impress li {
	margin-top: 0;
	font-size: 180%;
	font-family: Oswald-Light;
}

#impress .footnote {
	margin-top: 0;
	font-size: 100%;
	font-family: Oswald-Light;
	margin-left: 50px;
}

#fixedbutton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
}

#fixedbutton-top {
    position: fixed;
    top: 150px;
    right: 50px;
    width: 50px;
}
#fixedimage {
    position: fixed;
}

#impress .quote-main {
	margin-top: 20%;
	text-align: center;
	font-size: 150%;
	font-family: Oswald-Light;
}

#impress .quote-source {
	text-align: right;
	margin-right: 50px;
	font-size: 100%;
	font-family: Oswald-Light;
}

#impress img {
	vertical-align: middle;
}

#impress .center-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#impress .fullscreen-image {
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height:100%;
}

#impress .fullscreen-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 100%;
}

#impress .fullscreen-image video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 50%;
}



