@font-face {
	font-family: EBGaramond;
	src: url(../fonts/EBGaramond-Regular.ttf)
}

@font-face {
	font-family: Oswald-Light;
	src: url(../fonts/Oswald-Light.ttf)
}

/*
From original impress-demo.css
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

.impress-enabled .step {
    margin: 0;
    opacity: 1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

#impress .step.active{
   opacity:1;
}

/*
Formatting for the cube
*/

#cube .step {
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    background-color: white;
    width: 700px;
    height: 700px;
    border: 2px solid black;
    text-align: center;
    padding: 25px;
    opacity: 1;
}

#cube .step.active{ opacity: 1; }

#scale-relations .step {
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    background-color: white;
    width: 1028px;
    height: 764px;
    text-align: center;
    padding: 25px;
    opacity: 0;
}

#scale-relations .step.active{ opacity: 1; }

#visible_only_when_active .step {
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    width: 1028px;
    height: 764px;
    text-align: center;
    padding: 25px;
    opacity: 0;
}

#visible_only_when_active .step.active{ opacity: 1; }

#worldofviews .step {
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    background-color: white;
    width: 1028px;
    height: 764px;
    text-align: center;
    padding: 25px;
    opacity: 0;
}

#worldofviews .step.active{ opacity: 1; }

.slide {
    display: block;
    width: 1028px;
    height: 764px;

/* put transparent border for the production */

    border: 1px transparent rgba(0, 0, 0, .3);
    border-radius: 10px;

}

.slide.active {
  border: 1px solid rgba(0, 0, 0, 1);
}

/*
End of the lines from the original impress-demo.css
*/

#impress:not(.impress-not-supported) .step{
    opacity:0.4;
}

#impress .step .notes{
  display: none;
}

/* putting all custom styling to css:
*/

#story_answer .clip video {
  margin-top: 5%;
  margin-left: -0.5%;
  align-content: center;
}

#forbes img {
  margin-top:50px;
  margin-left:10px;
}

#forbes .quote-text h2 {
  font-size:200%;
  margin-top:2%;
}

#hierarchy_vs_chaos .tg h2 {
  font-size:300%;
  margin-bottom:10%;
}

#viscous_society .txt h2 {
  font-size:300%;
  margin-top:0%
}

#viscous_society .clip {
  margin-left:-0.5%;
  margin-top:2%;
}


#hierarchical_models .txt h2 {
  font-size:300%;
  margin-top:0%;
  margin-bottom:5%;
}

#perspective_1 .txt h2 {
  margin-top:2%;
}

#perspective_3 .txt h2 {
  margin-top:2%
}

#worldview_title .txt h1 {
  margin-top:2%;
}

#face-2 .txt h1 {
  font-size: 350%;
  margin-top:15%;
}

#face-2 .txt p {
  font-size:200%;
}

#face-4 .txt h1 {
  font-size: 350%;
  margin-top:15%;
}

#face-4 .txt p {
  font-size:200%;
}

#face-6 .txt h1 {
  font-size: 350%;
  margin-top:15%;
}

#face-6 .txt p {
  font-size:200%;
}

#reflexivity_title .txt h1 {
  margin-top: 8%;
  margin-bottom: 5%;
}

#reflexivity_title .picture {
  margin-top:0%;
}

#living_cognitive_society_title .txt h1 {
  margin-top: 30%;
}

/*
family {
  background-color: white;
}
*/
#family .picture {
  margin-top:7%;
}

#companies .picture {
  margin-top:13%;
}

#scale_0 .picture {
  text-align:center;
  margin-top:100px;
}

#scale_1 .picture {
  text-align:center;
  margin-top:190px;
  margin-left:100px;
}

#scale_2 .picture {
  text-align:center;
  margin-top:170px;
  margin-left:-250px;
}

#scale_3 .picture {
  margin-top:130px;
  margin-left:30px;
}

#scalable_system_rotate .txt h2 {
  margin-top:0%;
}

#interactions_among_scales_1 .txt h2 {
   margin-top:1%;
}

#a_world_of_views .txt h2 {
   margin-top:1%;
}

#worldview_embodiment .txt h2 {
  margin-top:0%;
  margin-bottom:0%;
  font-size:300%;
}

#global_brain .title {
  margin-top: 7%;
  font-size:350%;
}

#global_brain .image-fluid_society {
  bottom:300px;
  left:20px;
  width:320px;
}

#global_brain .image-gb_head {
  bottom:60px;
  left:360px;
  width:320px;
}

#global_brain .image-worldview_embodiments {
  bottom:300px;
  left:680px;
  width:320px;
}

#integration .title {
  margin-top: 2%;
}

#disintegration .title {
  margin-top: 2%;
}

#integrated_focal_scale .title {
  margin-top:0%;
  margin-bottom:2%;
  font-size:300%
}

#disintegrated_focal_scale .title {
  margin-top:0%;
  margin-bottom:2%;
  font-size:300%;
}

#inter-and-exter-iority .title {
  margin-top: 0%;
  font-size: 350%;
}

#emerging_cognitive_agent .title {
  margin-top:3%;
  margin-bottom:5%;
  font-size:350%;
}

#emerging_cognitive_agent .picture {
    margin-top:5%
}


#cognitive_development .txt {
  font-size: 300%;
  margin-top: 5%;
}

#scheme_of_development .picture {
  margin-top: 5%;
}

#scd_title .title {
  text-align: left;
}

#metastability .title {
  margin-top: 15%;
}

#metastability .picture {
  margin-top: 12%;
}

#no_least_energy .title {
  margin-top: 3%;
  margin-bottom: 0%;
  font-size: 250%;
}

#no_least_energy .picture {
  margin-top: 5%;
}

#no_least_energy .plus {
  margin-top:-3%;
  margin-bottom:0%;
  font-size:1100%;
}

#permanent_flux .title {
  margin-top: 5%;
  font-size: 250%;
}

#permanent_flux .picture {
  margin-top: 5%;
}

#progressive_determination .formula {
 margin-top: 15%;
}

#disruptive_impact_title .title {
  margin-top: 18%;
  margin-bottom: 0%;
}

#disruptive_impact_title .picture {
 margin-top:0%;
}

#hyper-connectivity .txt h1 {
  margin-top: 15%;
  margin-bottom: 8%;
}

#hyper-connectivity .picture {
  margin-top: 0%;
}

#accelerating_change .title {
  margin-top: 15%;
  margin-bottom: 8%;
}

#accelerating_change .picture {
  margin-top:0%;
}

#agatha_cristi .title {
  margin-top: 3%;
}

#agatha_cristi .picture {
 margin-top:0%;
}

#agatha_cristi_1 .title {
  margin-top: 3%;
}

#agatha_cristi_1 .picture {
  margin-top:0%;
}

#agatha_cristi_2 .title {
  margin-top: 3%;
}

#agatha_cristi_2 .picture {
  margin-top:0%;
}

#nikolas_bourbaki .title {
  padding-left: 160px;
  text-align: right;
}

#real_corporations .picture {
  margin-top:0%;
}

#wikipedia .picture {
  margin-top:0%;
}

#satoshi_nakamoto .title {
  margin-top: 5%;
  margin-bottom: 0%;
}

#satoshi_nakamoto .picture {
  margin-top:10%;
}

#dac .title {
  font-size: 350%;
  margin-top: 0%;
  margin-bottom: 5%;
}

#scalable_worldviews .image-gb_head {
  bottom:400px;
  left:300px;
  width:450px;
}

#scalable_worldviews .image-scalable_worldviews {
 bottom:50px;
  left:10px;
  width:1000px;
}

#scalable_worldviews .comment {
  bottom: 20px;
  right: 20px;
}

#distributed_governance .image-anarchy {
  bottom:100px;
  right:150px;
  width:300px;
}

#distributed_governance .image-monarchy {
  bottom:100px;
  left:150px;
  width:250px;
}

#distributed_governance .image-democracy {
  bottom:300px;
  left:325px;
  width:400px;
}

#distributed_governance .image-philosopher_ai {
  bottom:510px;
  left:450px;
  width:120px;
}

#distributed_governance .title {
  margin-top:24%;
  font-size:450%;
}

#questions_page .question h2 {
  margin-bottom: 30%;
  margin-top:30%;
}

/*
Now starting to style the text and slides;
The fight way is to style each slide here, but I am lazy...
*/

#impress h1 {
	margin-top: 20%;
	text-align: center;
	font-size: 400%;
	font-family: Oswald-Light;
}

#impress h2 {
	margin-top: 7%;
	text-align: center;
	font-size: 400%;
	font-family: Oswald-Light;
}

#impress h3 {
	margin-top: 20%;
	text-align: center;
	font-size: 200%;
	font-family: Oswald-Light;
}

#impress h4 {
	margin-top: 2%;
	margin-bottom: 10%;
	text-align: center;
	font-size: 300%;
	font-family: Oswald-Light;
}

#impress p {
	margin-top: 0;
	font-size: 150%;
	font-family: Oswald-Light;
}

#impress .footnote {
	margin-top: 0;
	font-size: 100%;
	font-family: Oswald-Light;
	margin-left: 50px;
}

#fixedbutton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
}

#fixedbutton-top {
    position: fixed;
    top: 150px;
    right: 50px;
    width: 50px;
}
#fixedimage {
    position: fixed;
}

#impress .quote-main {
	margin-top: 20%;
	text-align: center;
	font-size: 150%;
	font-family: Oswald-Light;
}

#impress .quote-source {
	text-align: right;
	margin-right: 50px;
	font-size: 100%;
	font-family: Oswald-Light;
}

#impress img {
	vertical-align: middle;
}

#impress .center-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#impress .fullscreen-image {
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height:100%;
}

#impress .fullscreen-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 100%;
}

#impress .fullscreen-image video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 50%;
}


.hint {
    /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
    */
    display: none;

    /*
        ... and give it some fixed position and nice styles.
    */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 30px;
    padding: 20px;

    z-index: 100;

    /*
        By default we don't want the hint to be visible, so we make it transparent ...
    */
    opacity: 0;

    /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
    */
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.
        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.
        This way user will not see the hint moving down.
    */
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint { display: block }

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-title_page .hint {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    /*
        Now for fade in transition we have the oposite situation from the one
        above.
        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

.question {
    /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
    */
    display: none;

    /*
        ... and give it some fixed position and nice styles.
    */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 30px;
    padding: 20px;

    z-index: 100;

    /*
        By default we don't want the hint to be visible, so we make it transparent ...
    */
    opacity: 0;

    /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
    */
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.
        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.
        This way user will not see the hint moving down.
    */
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .question { display: block }

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-questions_page .question {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    /*
        Now for fade in transition we have the oposite situation from the one
        above.
        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
    -webkit-transition: opacity 1s 3s, -webkit-transform 0.5s 2.5s;
    -moz-transition:    opacity 1s 3s,    -moz-transform 0.5s 2.5s;
    -ms-transition:     opacity 1s 3s,     -ms-transform 0.5s 2.5s;
    -o-transition:      opacity 1s 3s,      -o-transform 0.5s 2.5s;
    transition:         opacity 1s 3s,         transform 0.5s 2.5s;
}

